/* Stylesheet - Projet 2 */
@font-face {
    font-family: 'cormorantregular';
    src: url('fonts/Cormorant-Regular-webfont.eot');
    src: url('fonts/Cormorant-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cormorant-Regular-webfont.woff2') format('woff2'),
         url('fonts/Cormorant-Regular-webfont.woff') format('woff'),
         url('fonts/Cormorant-Regular-webfont.ttf') format('truetype'),
         url('fonts/Cormorant-Regular-webfont.svg#cormorantregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html
{
	background-color: #E8EBED;
}

body
{
	max-width: 1190px;
	background-color: white;
	font-family: 'cormorantregular', 'verdana', 'sans-serif';
	font-size: 0.9em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

/* Mise en page du header */

header
{
	display: flex;
	height: 325px;
}

/*case photo*/
.cadre_photo
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 ;
	width: 33%;
	min-width: 384px;
	background-color: #880E4F;
}


.photo
{
	clip-path:circle(42%);
	border: 2px white solid;
	
}

/*case nom*/
.nom
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	padding-right: 50px;
	width: 67%;
	min-width: 706px;
	background-color: white;
}

.prenom
{
	color:#880E4F;
}

#souligne
{
	border-bottom: 2px solid #880E4F;
}

h1
{
	margin: 0;
	font-size: 3em;
}

h2
{
	margin-top: 0.5em;
	margin-bottom: 0;
	font-size: 1.5em;
}

/*Créer le conteneur*/

.conteneur
{
	display: flex;
	width: 100%;
}

h3
{
	font-size: 1.5em;
	margin: 0;
}

/* propriétés partie gauche aside */

aside
{
	display: flex;
	flex-direction: column;
	width: 33%;
	min-width: 384px;
	background-color: #880E4F;
	margin: 0;
}

.contact, .a_propos, .loisirs
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	font-style: normal;
}

address, .description, .logos
{
	margin: 22px 50px 22px 50px;
}

address p
{
	margin-top: 6px;
	margin-bottom: 6px;
	font-style: normal;
}

a
{
	color: black;
}

a:hover
{
	color: white;
}

.a_propos
{
	flex-grow: 1;
}

.a_propos p
{
	margin-top: 6px;
	margin-bottom: 6px;
}

aside h3 
{
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: white;
	color: #880E4F;
	text-align: center;
}

.logos
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 2em;
	color: white;
}

.loisirs i
{
	border: 2.5px white solid;
	border-radius: 50%;
}

i[class*="music"]
{
	padding:15px; 
}

i[class*="book"]
{
	padding:15px;
}	

i[class*="chess"]
{
	padding:15px;
}

/* propriétés section principale à droite */

main
{
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-right: 50px;
	width: 67%;
	min-width: 706px;
	background-color: white;
}

.ligne
{
	display: flex;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 20px;
	border-bottom: 2px solid #880E4F;
}

main h3
{
	margin: 0;
}

main i
{
	font-size: 1.8em;
	padding-right: 20px;
	color: #880E4F;
}

.années
{
	padding-left: 12px;
}


.formation, .experience, .recommandations
{
	margin-bottom: 50px;
}

.ecole1, .ecole2, .ecole3
{
	display: flex;
}

.job
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.p1
{
	font-size: 1.1em;
	font-weight: bold;
}

.p2
{
	font-size: 1em;
	line-height: 0.7em;
}

.p3
{
	margin-bottom: 0px;
}

li
{
	width: 190px;
}

ul.actuel>li::before
{
	content: '\29BF';
}

ul
{
	list-style: none;
	padding: 0;
}

li::before
{
	content: '\25CF';
	color: #880E4F;
	width: 1em;
	padding-right: 10px;
	padding-bottom: 30px;
	float: inline-start;
}

ul.liste_description
{
	list-style: none;
	margin-left: 0px;
	width: auto;
}

.liste_description
{
	margin-top: 0;
	margin-bottom: 0;
}

ul.liste_description>li::before
{
	content: '\2022'; 
	color: black;
	width: 1em;
	padding: 0;
}

ul.liste_description li
{
	width: auto;
}

.recommandations div
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.recommandations p
{
	width: 240px;
	padding-right: 100px;
	font-size: 0.9em;
}

/* Small devices (phones, less than 768px)*/

@media all and (max-width: 767.98px)
{
	body
	{
		max-width: auto;
		font-size: 1em;
		margin: 0;
		padding: 0;
	}

	header
	{
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.cadre_photo
	{
		width: auto;
		min-width: auto;
		padding-top: 20px;
	}


	.photo
	{
		max-width:100px;
	}

	.nom
	{
		padding:20px 0px 20px 0px;
		width: auto;
		min-width: auto;
		background-color: #880E4F;
		justify-content: center;
		align-items: center;
	}

	.prenom
	{
		color: white;
	}

	#souligne
	{
		border-bottom: 2px solid white;
	}

	h1
	{
		font-size: 1.8em;
	}

	h2
	{
		font-size: 1.2em;
	}

	.conteneur
	{
		width: auto;
		flex-direction: column-reverse;
		margin-top: 20px;
	}

	h3
	{
		font-size: 1.2em;
	}

	aside
	{
		width: auto;
		min-width: auto;
	}

	address, .descriptif, .logos
	{
		margin: 20px 20px 20px 20px;
	}

	aside h3 
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	main
	{
		padding-left: 20px;
		padding-right: 20px;
		margin: 0;
		width: auto;
		min-width: auto;
	}

	main i
	{
		font-size: 1.5em;
	}

	.années
	{
		padding-left: 10px;
	}


	.formation, .experience, .recommandations
	{
		margin-bottom: 20px;
	}

	.ecole1, .ecole2
	{
		display: flex;
		flex-direction: column;
	}

	.nom_ecole, .nom_experience
	{
		padding-left: 50px;
		padding-bottom: 20px;
	}

	.job
	{
		display: flex;
		flex-direction: column;
	}

	.p1
	{
		font-size: 1em;
	}

	li
	{	
		width: auto;
		font-weight: bold;
	}

	ul
	{
		margin: 0;
	}

	li::before
	{
		padding-right: 10px;
		padding-bottom: 10px;
		float: inline-start;
	}

	ul.liste_description li
	{
		width: auto;
		font-weight: normal;
	}

	.recommandations p
	{
		width: auto;
		flex-grow: 1;
		font-size: 1em;
	}

}

/* Medium devices (tablets, less than 992px)*/

@media all and (min-width: 768px) and (max-width: 991.98px)
{
	body
{
	max-width: auto;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

header
{
	display: flex;
	flex-direction: column;
	height: auto;
}

.cadre_photo
{
	width: auto;
	min-width: auto;
	padding-top: 30px;
}


.photo
{
	max-width:180px;
}

.nom
{
	padding:30px 0px 30px 0px;
	width: auto;
	min-width: auto;
	background-color: #880E4F;
	justify-content: center;
	align-items: center;
}

.prenom
{
	color: white;
}

#souligne
{
	border-bottom: 2px solid white;
}

h1
{
	font-size: 2.2em;
}

h2
{
	font-size: 1.4em;
}

.conteneur
{
	width: auto;
	flex-direction: column-reverse;
	margin-top: 20px;
}

h3
{
	font-size: 1.4em;
}

aside
{
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	min-width: auto;
}

.contact, .a_propos, .loisirs
{
	width: 30%;
	overflow-wrap: break-word;
}

address, .descriptif, .logos
{
	margin: 20px 30px 20px 30px;
}

aside h3 
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.logos
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 26px;
}

i[class*="laptop"]
{
	margin-bottom: 20px;
}

i[class*="globe"]
{
	margin-bottom: 20px;
}	

main
{
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	min-width: auto;
}


.années
{
	padding-left: 10px;
}


.formation, .experience, .recommandations
{
	margin-bottom: 30px;
}

.recommandations p
{
	width: auto;
	flex-grow: 1;
	font-size: 1em;
}

}


